 @charset "ISO-8859-1";


.error {
	color: #ff0000;
	font-style: italic;
	font-weight: bold;
}
.p {
	color: #ff0000;
	font-style: italic;
	font-weight: bold;
}
.success{
	color:green ;
	font-style: italic;
	font-weight: bold;
}

