@charset "ISO-8859-1";

ul{
	margin:0px; padding:0px;
	}
ul li a{
	    text-decoration:none;
	    color:#0000ff;
	    display:block; 
}
ul li{
	float:left;
	width:142px;
	height:40px;
	background-color:#808080;
	font-size:20px;
	line-height:40px;
	text-align:center;
	opacity:.8;
	border:1px #000040;
	}

ul li a:hover{
	background-color:#d5d1ce;
	}
	
ul li ul li{
	 display: none;
}
ul li:hover ul li{
	display:block;
}
	
	
	
	
	